.Joblist {
  width: 100%; }

@media screen and (min-width: 768px) {
  .Joblist {
    width:calc(100% - 282px) ;

  }
}

@media screen and (min-width: 1200px) {
  .Joblist {
    width:calc(100% - 412px) ;

  }
}